torch == 1.7.1
mxnet >= 1.4.0
gluonnlp >= 0.6.0
sentencepiece >= 0.1.6
onnxruntime >= 0.3.0
transformers < 4
scikit-learn >= 1.0
google-cloud-dialogflow==2.7.1
https://github.com/SKTBrain/KoBERT/archive/master.zip
